.game-page-container {
    /*margin-top: 10rem;*/
    display: flex;
    overflow-y: auto;
    background-color: white;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    /*saknas något från FR025??*/
    position: absolute;
}

.media-and-chat-holder {
    display: flex;
    height: 70%;
    width: 100%;
    border-style: solid;
    border-color: purple;
    background-color:black;
    justify-content: flex-end;
}