.container {
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    background: center 100% url("../images/background_gradient.png");
    width: 100%;
    height: 100%;
    position: fixed;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 6rem;
    padding-right: 6rem;
    color: blanchedalmond;
}

.home-button {
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 10rem;
}

.homepage-placeholder{
    font-size: xx-large;
    text-align: center;
}

.homepage-header{
    color: blanchedalmond;
    width: 100%;
    height: 6rem;
    padding-bottom: 0.5rem;
} 

.header-text{
    font-size: 250%;
    font-weight: bold;
}

.home-page-loading{
    display: block;
    width: 20rem;
    height: auto;
    color:blanchedalmond;

}