.Info-window-holder {
    display: flex;
    width: 70%;
    height: 50%;
    /*justify-content: center;
    align-items: center;*/
    flex-direction: row;
    position: relative;
    background-color: black;
    border-style: solid;
    border-color: rgb(0, 228, 133);
    vertical-align: top;
}


.Name-holder {
    border-style: solid;
    border-color: rgb(0, 228, 133);
   
}
.Name-text {
   color: magenta; 
   
}