.popular-game-holder {
    display: flex;
    flex-direction: column;
    width: 12.6rem;
    height: 18.9rem;
    margin: 1%;
    justify-content: center;    
}

.highlighted-game {
    display: flex;
    flex-direction: column;
    /*width: 23.4rem;*/
    width: 27rem;
    height: 18.9rem;
    margin: 1%;
    justify-content: center;
}

.game-name-holder {
    display: flex;
    height: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.game-name {
    color: #998675;
    font-size: large;
    font-weight: bold;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.game-viewers {
    color: #998675;
    font-size: large;
    width: 100%;
    margin: 0;
}

.popular-game-image-container {
    display: flex;
    flex: 1;
    cursor: pointer;
    transition: transform 0.1s;   
}

.popular-game-image-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.07);
}

.highlighted-game-img {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    flex: 1;
}

.highlighted-game-img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
    transition: transform 0.1s;
}


.popular-game-image {
    display: flex;
    width: 100%;
    height:100%;
}

.popular-game-image-logo {
    display: flex;
    width: 18%;
}

.popular-game-image-logo-highlight {
    display: flex;
    width: 9%;
    height:92%;
    position: relative;
}