.side-bar-container{
    position: fixed;
    height: 100%;
    width: 14.6rem;
    left: -14.6rem;
    transform: translateX(14.6rem);
    transition: 0.5s ease-in-out;
}

.side-bar-content {
    position: fixed;
    left: 0;
    height: 100%;
    width: 13rem;
    background-color: #282828;
    border-right: solid 0.5rem  #998675;
    box-shadow: 15px 0px 30px black;
    color: #F9F4DC;
    overflow: hidden;
}

.side-bar-container-collapsed {
    position: fixed;
    left: 0;
    height: 100%;
    color: white;
    transform: translateX(-13rem);
    transition: 0.5s ease-in-out;
}

.side-bar-arrow-image{
    width: 1rem;
    height: auto;
    position: fixed;
    top: 50%;
    right: 0;
    left: -0.4rem;
    transform: translateX(14.6rem);
    transition: transform 1s ease-in-out;
}

.side-bar-image{
    margin-top: 0.5rem;
    display: block;
    width: 10rem;
    height: auto;
    margin: auto;
    margin-top: 0.5rem; 
    cursor: pointer;
    transition: 2s;
}

.side-bar-image-container{
    margin-top: 2.5rem;
    height: 10rem;
    width: 13rem;
}

.side-bar-arrow{
    height: 100%;
    width: auto;
}

.side-bar-search{
    padding: 1rem;
    background: #282828;
    text-align: center;
    border-top: solid #191816 3px;
    border-bottom: solid #191816 3px;
    box-shadow: 5px 0px 5px 0 rgba(0, 0, 0, 0.15), 5px 0px 5px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    cursor: pointer;
}


a img:last-child {
    display: none;  
  }
a:hover img:last-child {
    display: block; 
  }
a:hover img:first-child {
    display: none;  
  }

.side-bar-search-image{
    height: 3rem;
    width: auto;
    margin: 1rem;
    position: relative;
    display: block;
}

.side-bar-button {
    padding: 0.8rem;
    padding-left: 3rem;
    font-size: large;
    cursor: pointer;
    border-left:#282828 solid 0.3rem;
}

.side-bar-button:hover {
    background-color:  #282828;
    opacity: 80%;
    color: #F9F4DC; 
    font-weight: bold;
    border-left: #f1c40e solid 0.3rem;
}
