.thumbnail-holder {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: auto;
    margin: 1%;
    justify-content: center;
    border-style: solid;
    border-color:  #998675;
    cursor: pointer;
}

.thumbnail-stream-name-holder {
    display: flex;
    justify-content: center;
}

.thumbnail-game-name {
    display: flex;
    font-size: 1em;
    color: white;
}

.thumbnail-popular-game-image-container {
    display: flex;
    flex: 1;
    background-color: white;
}

.thumbnaik-popular-game-image {
    display: flex;
    width: 100%;
    height:100%;
}