.thumbnail-holder {
    display: flex;
    flex-direction: column;
    /*background-color: black;*/
    width: 12rem;
    height: 11.2rem;
    margin: 1%;
    justify-content: center;
    cursor: pointer;
}

.thumbnail-stream-name-holder {
    justify-content: center;
    flex-direction: column;
}

.thumbnail-game-name-holder {
    display: flex;
    height: 0.9rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.2rem;
    margin-bottom: 0rem;
}

.thumbnail-game-name {
    font-size: 0.7rem;
    width: 18rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thumbnail-popular-game-image-container {
    display: flex;
    flex: 1;
    height: 15rem;
    transition: transform 0.1s;
    /*background-color: white;*/
}

.thumbnail-popular-game-image-container:hover {
    transform: scale(1.05);
    transition: transform 0.1s;
    border: 2px solid;
    /*border-style: solid;        */
}

.thumbnaik-popular-game-image {
    height: 7.05rem;
    width: 100%;
}

.thumbnail-viewers {
    font-size: 0.7rem;
    color: white;
    margin: 0px;
    margin-top: 0.3rem;
}

.thumbnail-streamer {
    color: #998675;
    margin-top: 0.2rem;
    font-size: 0.65rem;
}

.overlay_img:hover {
    opacity: 0;
}

.overlay_img {
    height: 7.369rem;
    width: 12rem;
    opacity: 0.9;
    position: absolute;
    
    background: #000000;    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, transparent 50%, black 100%); 
    background: linear-gradient(to bottom, transparent 50%, black 100%);

}