.Thumbnail-window-holder {
    display: flex;
    width: 100%; 
    height: 40%;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: left;
    flex-direction: row;
    position: relative;
    vertical-align: top;
    overflow: auto; 
    overflow-y: hidden;
    white-space: nowrap; 
    -webkit-overflow-scrolling: touch;
    
}
.thumbnail-right-arrow-image{
    width: 1rem;
    height: auto;
    position: absolute;
    /* top: 30%; */
    bottom: -10%;
    right:0;
}

.thumbnail-left-arrow-image{
    width: 1rem;
    height: auto;
    position: absolute;
    /* top: 30%; */
    bottom: -10%;
    left:2rem;
}


.Thumbnail-holder {
    border-style: solid;
    border-color:  #998675;
    height: 10%;
}
