.headerButton {

  /*  
    display: flex;
    margin-right: 2%;
    position: 'aboslute';
    justify-content: center;
    background: transparent ;
    border: 0;
    outline: 0;
    color: white;
    font-size: 2vh;
    font-family: 'Raleway';
    
*/
   
     
}



.headerButton:hover {
    color: rgb(185, 41, 190);
}
